@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: #6F2424;
    color: white;
    font-family: 'Lato', sans-serif;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

html {
    scroll-behavior: smooth;
}

.image_inner img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

.vegeterian-approved img,
.lactose img {
    max-width: 100%;
    height: auto;
    width: 40px;
    margin: 5px;
}

.vegandlactose {
    display: flex;
}

.image_inner {
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    color: white;
    background: #6F2424;
    margin: 0;
    padding: 20px 0;
    -webkit-box-shadow: 0 4px 6px -6px #202020;
    -moz-box-shadow: 0 4px 6px -6px #202020;
    box-shadow: 0 4px 6px -6px #202020;
}

h1 {
    font-family: 'Syncopate', sans-serif;
    font-size: 30px;
}

h1,
nav {
    margin: 1rem;
}

nav a {
    margin: 4px;
    text-decoration: none;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: bold;
}

h2 {
    text-align: center;
    grid-column: 1/-1;
}


/* header end */

/*filters */

.filters {
    display: block;
    margin: auto;
    margin-right: 1rem;
    margin-top: 1rem;
    width: 150px;
    text-align: right;
    border-radius: 3px;
    padding: 10px 12px;
    font-family: 'Lato', sans-serif;
}


.filters button {
    width: 100px;
    background: white;
    border: none;
    padding: 4px 4px;
    font-family: 'Lato', sans-serif;
    text-align: right;
}

/* the sections */

h2 {
    text-transform: uppercase;
    font-size: 27px;
    font-family: 'Syncopate', sans-serif;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin: 1rem;
    margin-top: 0;
}

article {
    text-align: center;
    margin: 10px;
    padding: 0 20px;
    border: 1px solid #632121;
    border-radius: 20px;
    padding-bottom: 16px;
}


.image_inner {
    position: relative;
    padding: 0;
    margin: 0;
}


.description {
    border-radius: 19px;
    padding: 20px 15px;
    box-shadow: inset 3px 3px 9px 0px rgba(107, 30, 30, 0.8);
    margin: 0;
}


.image_inner .price {
    position: absolute;
    bottom: 0%;
    right: 0;
    background: darkgreen;
    padding: 6px 10px;
    border-radius: 13px 0 20px 0;
}

.image_inner .discount {
    position: absolute;
    bottom: 0%;
    left: 0;
    background-color: darkgoldenrod;
    padding: 6px 10px;
    border-radius: 0 13px 0 20px;
    font-weight: bold;
}

.image_inner .cheaper {
    text-decoration: line-through;
}

.image_inner .soldOut {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.soldOut p {
    background: brown;
    margin: 0;
    padding: 13px;
    border-radius: 20px 20px 0px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.hidden {
    display: none;
}

.strike {
    text-decoration: line-through;
}

/* VIEW MORE INFO */

.hide {
    display: none;
}


.modal-background {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: relative;
    background-color: #6F2424;
    border: 1px solid #7c1f17;
    padding: 40px;
    margin: auto;
    width: 75%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 20px;
    text-align: center;
}


.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: lightgray;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover {
    color: darkgray;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

#modal-btn {
    border: 2px solid brown;
    background: brown;
    padding: 10px 16px;
    color: white;
    border-radius: 4px;
    font-family: 'Work Sans', sans-serif;
    text-transform: lowercase;
}

#modal-btn:hover {
    border: 2px solid brown;
    background: transparent;
}


.modal-name {
    font-size: 25px;
    text-transform: uppercase;
    margin: 0.6em;
    font-family: 'Syncopate', sans-serif;
}

.modal-image {
    max-width: 450px;
    border-radius: 20px;
}

.box {
    display: flex;
    font-family: 'Lato', sans-serif;
    justify-content: space-between;
}

.modal-description {
    margin: 1em;
    text-align: left;
}

.box-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.logos {
    display: flex;
}

.modal-price {
    background: darkgreen;
    max-width: 80px;
    padding: 7px 13px;
    border-radius: 3px;
    margin: 4px 0;
}

.inner-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.modal-discounted {
    background-color: darkgoldenrod;
    padding: 6px 10px;
    border-radius: 3px;
    font-weight: bold;
}


/* VEGETERIAN AND ALLERGES STATUS */

.extras {
    text-align: center;
    border-radius: 20px;
    padding: 4px 15px;
}

.extras p {
    font-size: 16px;
    border-radius: 0;
}

.extras i {
    margin: 0 4px;
    color: white;
}

.rating {
    margin: 10px;
    text-align: right;
}

@media only screen and (max-width: 1171px) {
    section {
        grid-template-columns: repeat(2, 1fr);
    }

    .box {
        display: block;
    }
}

@media only screen and (max-width: 802px) {
    section {
        grid-template-columns: 1fr;
    }

    .categories {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        width: auto;
    }

    .modal-image {
        max-width: 300px;
    }
}

@media only screen and (max-width: 400px) {
    .modal-image {
        max-width: 150px;
    }
}

.rating {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
}

.rating::before {
    content: "\f006 \f006 \f006 \f006 \f006";
}

.rating-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.rating-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: goldenrod;
}
